.vitals-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
}

.vitals-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
