.vitals-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  background: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
