.retranscription-direct-page {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.retranscription-title {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
